.section-title {
  font-family: Roboto;
  letter-spacing: 0.009375rem;
  font-weight: 500;
  font-size: 1rem !important;
}
.section-subtitle {
  font-family: Roboto;
  letter-spacing: 0.009375rem;
  font-weight: 500;
  font-size: 0.9rem !important;
}
.content {
  background-color:
    rgba(255,255,255, 1);

   /* Chrome10-25,Safari5.1-6 */

  
}